.button {
	a {
		color: $bg-color;
		font-weight: 400;
		text-decoration: none;
		background: $main-color;
		padding: 15px 50px;
		border-radius: 25px;
		box-shadow: $box-shadow;
	}

	&.white {
		margin: 50px 0 20px 0;
		
		a {
			color: $text-color;
			background: $bg-color;
		}
	}
}