// Colors
$bg-color: #f2ebeb;
$text-color: #332126;
$main-color: #c34366;

// Fonts
$opensans: 'Open Sans Condensed', sans-serif;
$roboto: 'Roboto', sans-serif;
$badscript: 'Bad Script', sans-serif;

// Other
$text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
$box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);